html,
body {
  background-color: #598DBA; 
  color: #D8E4ED;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: quasimoda, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  line-height: 1.5;

}

main {
  max-width: 60%;
  margin: auto;
}

img {
  height: 500px;
}

h1 {
  font-family: quasimoda, sans-serif;  
  font-weight: 700;
  font-style: normal;
  font-size: 50pt;
  text-align: center;
  padding: 20pt;
  margin: 0;
}

a {
  color: #FEFEFF;
    text-decoration: none;
}

#links {
  text-align: center;
}

img {
  float: left;
  padding-top: 10px;
  padding-right: 30px;
}

img.resize {
  width:308px;
  height:300px;
}