html,
body {
  background-color: #FFF7EB;
  color: #5E97B9;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: atten-new, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16pt;
  line-height: 1.5;

}

main {
  width: 60%;
  margin: auto;
}

img {
  height: 500px;
}

h1 {
  font-family: atten-new, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 40pt;
  text-align: center;
  padding: 20pt;
  margin: 0;
}

a {
  color: #5E97B9;
}

#links {
  text-align: center;
}